<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dfgh</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Меню</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Mужчины</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reg_name' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Админ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home1' %}">Женщины</a>
                    </li>
                </ul>
          </div>
        </div>
      </nav>
<br>
<br>
<br>
{% for i in users %}
<div style="border-radius:25px;padding:20px 20px 20px 20px;margin:-5px 10px 15px 10px;background:#C8C8C8">
    {{ i.name }}
    <br>
    {{ i.surname }}
    <br>
    {{ i.address }}
    <br>
    Мужской
</div>
{% endfor %}
</body>
</html>