<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reg</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<form method="POST" enctype="multipart/form-data">
    <div style="background:yellow;margin:100px 500px 10px 580px;padding:25px;width:245px;height:275px;">
    {% csrf_token %}
    {{ form.as_p }}
<button class="btn btn-primary rounded-pill px-3" type="submit">Регистрация</button>
    </div>
</form>
</body>
</html>